<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid pull-left">
        <a class="navbar-brand" routerLink="/">
          <p><span>
          <img width="25" alt="CI" src="../assets/CI.png" class="left">
            Consumer Insights</span>
          </p>
        </a>
    </div>
</nav>

<!--<div style="text-align:center">-->
  <!--<h1><a routerLink="/">-->
    <!--Welcome to {{ title }}!-->
  <!--</a></h1>-->
  <!--<img width="300" alt="Angular Logo" src="https://i.stack.imgur.com/0CpZZm.png">-->
<!--</div>-->

<router-outlet></router-outlet>
