.ci-title{
  color: crimson;
}

.star {
      position: relative;
      display: inline-block;
      font-size: 1.2rem;
      color: #d3d3d3;
}

.full {
  color: crimson;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: crimson;
}

#product{
  color: black;
}


