<div class="container-fluid">

  <div *ngIf="product != null" class="container-fluid">
    <h3>{{product.product_title}}</h3>
    <h5>Product Rating: {{product.product_rating}}</h5>
    <h5>Number of Reviews: {{product.total_reviews}}</h5>
  </div>


  <div class="container-fluid row">
      <div class="col-md-6 form-group">
          <input [(ngModel)]="feature" class="form-control input-xlg" placeholder="terrible">
      </div>
      <div class="col-md-3 form-group">
        <button (click)="search(feature)" class="btn btn-primary btn-block btn-xlg">Search</button>
      </div>
  </div>
  <div class="container-fluid row">
    <div class="container-fluid col-sm-6">
        <ul class="list-group">
          <li *ngFor="let review of reviews" class="list-group-item">
            <div (click)="showReview(review)">
              <div class="row">
                  <h5 class="pull-left col-sm-6">{{review.review_headline}}</h5>
                  <h6 class="pull-right col-sm-6">Rating: {{review.star_rating}}</h6>
              </div>
              <div [innerHTML]=review.review_body></div>
            </div>
          </li>
        </ul>
    </div>
    <div class="container-fluid col-sm-6">
      <div *ngIf="the_review != null"></div>
        <h3>{{the_review.review_headline}}</h3>
        <div [innerHTML]=the_review.review_body></div>
    </div>
  </div>
</div>
