<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" routerLink="/">
                <p>Consumer Insights</p>
            </a>
        </div>
    </div>
</nav>

<!--<div style="text-align:center">-->
  <!--<h1><a routerLink="/">-->
    <!--Welcome to {{ title }}!-->
  <!--</a></h1>-->
  <!--&lt;!&ndash;<img width="300" alt="Angular Logo" src="https://i.stack.imgur.com/0CpZZm.png">&ndash;&gt;-->
<!--</div>-->

<router-outlet></router-outlet>
